body { width: 50%; margin-left: 25%; font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
h1 { font-size: 15px; }
a { color: #548dc4; text-decoration: none; }
a:hover { text-decoration: underline; }
.margined { margin-bottom: 1em; }
.grid { width: 100%; }
table.grid { border-collapse: collapse; border: 1px solid #CCB; }
table.grid td, table.testgrid th { padding: 10px; border: 1px solid #E0E0E0; }
table.grid th { background: #E5E5E5; text-align: left; }
input.invalid { background: red; color: #FDFDFD; }